<section class='min-h-screen bg-gray-50 dark:bg-gray-900 p-3 sm:p-5' style="min-height: calc(100vh - 11.5rem);">
	<div class='mt-16 mx-auto max-w-screen-xl px-4 lg:px-12'>
		<!-- Start coding here -->
		<div
			class='border-solid	border border-slate-800 bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden'
		>
			<div
				class='flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4'
			>
				<div class='w-full md:w-1/2'>
					<form class='flex items-center'>
						<label
							for='simple-search'
							class='sr-only'
						>Search</label>
						<div class='relative w-full'>
							<div
								class='absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none'
							>
								<svg
									aria-hidden='true'
									class='w-5 h-5 text-gray-500 dark:text-gray-400'
									fill='currentColor'
									viewbox='0 0 20 20'
									xmlns='http://www.w3.org/2000/svg'
								>
									<path
										fill-rule='evenodd'
										d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z'
										clip-rule='evenodd'
									/>
								</svg>
							</div>
							<input
								type='text'
								id='simple-search'
								class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'
								placeholder='Search'
								required=''
							/>
						</div>
					</form>
				</div>
				<div
					class='w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0'
				>
					<a href='/articles/create'>
						<button
							type='button'
							class='flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800'
						>
							<svg
								class='h-3.5 w-3.5 mr-2'
								fill='currentColor'
								viewbox='0 0 20 20'
								xmlns='http://www.w3.org/2000/svg'
								aria-hidden='true'
							>
								<path
									clip-rule='evenodd'
									fill-rule='evenodd'
									d='M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z'
								/>
							</svg>
							Add article
						</button>
					</a>
					<div class='flex items-center space-x-3 w-full md:w-auto'>
						<button
							id='actionsDropdownButton'
							data-dropdown-toggle='actionsDropdown'
							class='w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700'
							type='button'
						>
							<svg
								class='-ml-1 mr-1.5 w-5 h-5'
								fill='currentColor'
								viewbox='0 0 20 20'
								xmlns='http://www.w3.org/2000/svg'
								aria-hidden='true'
							>
								<path
									clip-rule='evenodd'
									fill-rule='evenodd'
									d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
								/>
							</svg>
							Actions
						</button>
						<div
							id='actionsDropdown'
							class='hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600'
						>
							<ul
								class='py-1 text-sm text-gray-700 dark:text-gray-200'
								aria-labelledby='actionsDropdownButton'
							>
								<li>
									<a
										href='/me/storage/articles'
										class='block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
									>Go back</a>
								</li>
							</ul>
							<div class='py-1'>
								<a
									href='#'
									class='block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'
								>Delete all</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='overflow-x-auto min-h-64'>
				<table
					class='w-full text-sm text-left text-gray-500 dark:text-gray-400'
				>
					<thead
						class='text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400'
					>
						<tr>
							<th scope='col' class='px-4 py-3'>#</th>
							<th scope='col' class='px-4 py-3'>Article name</th>
							<th scope='col' class='px-4 py-3'>Author</th>
							<th scope='col' class='px-4 py-3'>Deleted at</th>
							<th scope='col' class='px-4 py-3'>
								<span class='sr-only'>Actions</span>
							</th>
						</tr>
					</thead>
					<tbody>
						{{#each articles}}
							<tr class='border-b dark:border-gray-700'>
								<td class='px-4 py-3'>{{sum @index 1}}</td>
								<th
									scope='row'
									class='px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white'
								>{{this.title}}</th>
								<td class='px-4 py-3'>{{this.author}}</td>
								<td
									class='deleted-at px-4 py-3'
								>{{this.deletedAt}}</td>
								<td
									class='px-4 py-3 flex items-center justify-end'
								>
									<button
										id='article-{{this._id}}-dropdown-button'
										data-dropdown-toggle='article-{{this._id}}-dropdown'
										class='inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100'
										type='button'
									>
										<svg
											class='w-5 h-5'
											aria-hidden='true'
											fill='currentColor'
											viewbox='0 0 20 20'
											xmlns='http://www.w3.org/2000/svg'
										>
											<path
												d='M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z'
											/>
										</svg>
									</button>
									<div
										id='article-{{this._id}}-dropdown'
										class='hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600'
									>
										<ul
											class='py-1 text-sm text-gray-700 dark:text-gray-200'
											aria-labelledby='article-{{this._id}}-dropdown-button'
										>
											<li>
												<a
													data-article-id='{{this._id}}'
													href='#'
													class='restore-btn block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
												>Restore</a>
											</li>
										</ul>
										<div class='py-1'>
											<a
												data-modal-target="popup-modal" data-modal-toggle="popup-modal"
												href="#"
												data-article-id='{{this._id}}'
												class='block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'
											>Permanently delete</a>
										</div>
									</div>
								</td>
							</tr>
						{{else}}
							<tr>
								<td colspan="5">
									<div class="flex flex-col justify-center py-12 items-center">
										<div class="flex justify-center items-center">
											<img class="w-64 h-64"
											src="https://res.cloudinary.com/daqsjyrgg/image/upload/v1690257804/jjqw2hfv0t6karxdeq1s.svg"
											alt="image empty states">
										</div>
										<h1 class="text-gray-700 font-medium text-2xl text-center mb-3">Empty bin</h1>
										<p class="text-gray-500 text-center mb-6">Article are the backbones of time entry categorization in your
											workspace.</p>
										<div class="flex flex-col justify-center">
											<a href="/me/storage/articles">
												<button class="flex items-center px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
													stroke="currentColor" class="w-6 h-6  mr-2">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
												</svg>
												Go back to storage
												</button>
											</a>
										</div>
									</div>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<nav
				class='flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4'
				aria-label='Table navigation'
			>
				<span
					class='text-sm font-normal text-gray-500 dark:text-gray-400'
				>
					Showing
					<span
						class='font-semibold text-gray-900 dark:text-white'
					>1-10</span>
					of
					<span
						class='font-semibold text-gray-900 dark:text-white'
					>1000</span>
				</span>
				<ul class='inline-flex items-stretch -space-x-px'>
					<li>
						<a
							href='#'
							class='flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'
						>
							<span class='sr-only'>Previous</span>
							<svg
								class='w-5 h-5'
								aria-hidden='true'
								fill='currentColor'
								viewbox='0 0 20 20'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									fill-rule='evenodd'
									d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z'
									clip-rule='evenodd'
								/>
							</svg>
						</a>
					</li>
					<li>
						<a
							href='#'
							class='flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'
						>1</a>
					</li>
					<li>
						<a
							href='#'
							class='flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'
						>2</a>
					</li>
					<li>
						<a
							href='#'
							aria-current='page'
							class='flex items-center justify-center text-sm z-10 py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white'
						>3</a>
					</li>
					<li>
						<a
							href='#'
							class='flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'
						>...</a>
					</li>
					<li>
						<a
							href='#'
							class='flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'
						>100</a>
					</li>
					<li>
						<a
							href='#'
							class='flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'
						>
							<span class='sr-only'>Next</span>
							<svg
								class='w-5 h-5'
								aria-hidden='true'
								fill='currentColor'
								viewbox='0 0 20 20'
								xmlns='http://www.w3.org/2000/svg'
							>
								<path
									fill-rule='evenodd'
									d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z'
									clip-rule='evenodd'
								/>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</section>

<!-- Modal popup confirmation -->
<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to permanently delete this article?</h3>
                <button id="confirmDelete" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                    Yes, I'm sure
                </button>
                <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Hidden form -->
<form method='POST' name="delete-form"></form>
<form method='POST' name="restore-form"></form>

<script>
    // Use event delegation for delete buttons
    const tableBody = document.querySelector('tbody');
	const deleteForm = document.forms['delete-form'];
	const restoreForm = document.forms['restore-form'];
    const confirmDeleteButton = document.getElementById('confirmDelete');
    let currentArticleId = null;

    tableBody.addEventListener('click', (e) => {
        const deleteButton = e.target.closest('[data-modal-target="popup-modal"]');
        if (deleteButton) {
            currentArticleId = deleteButton.getAttribute('data-article-id');
        }
		const restoreBtn = e.target.closest('.restore-btn');
		if (restoreBtn) {
			const articleId = restoreBtn.getAttribute('data-article-id');
			restoreForm.action = `/articles/${articleId}/restore?_method=PATCH`;
			restoreForm.submit();
		}
    });

    // Handle confirmation in the modal
    confirmDeleteButton.addEventListener('click', () => {
        if (currentArticleId) {
			deleteForm.action = `/articles/${currentArticleId}/force?_method=DELETE`;
			// Reset currentArticleId
            currentArticleId = null;
			deleteForm.submit();
        }
    });

	// Display created date
	document.addEventListener('DOMContentLoaded', function () {
		const timeElements = document.querySelectorAll('.deleted-at');
		if (!timeElements) return;
		timeElements.forEach((timeEle) => {
			const time = timeEle.textContent;
			let newTime = '';
			let count = 0;
			for (let i = 0; i < time.length; ++i) {
				if (time[i] === ' ') {
					count++;
				}
				if (count === 4) {
					break;
				}
				newTime += time[i];
			}
			timeEle.textContent = newTime;
		});
	});
</script>